header,

footer
{
    border:1px solid black;
}
section
{
    margin: 1% 10%;
}

.temp_header2,
.temp_header1,
ul
{
    display:flex;
}

.temp_header2 li
{
    list-style: none;

}

li
{
    border:1px solid black;
    margin:0px 10px 0px 10px;
}

footer
{
    height:100px;
}


.nav-container
{
    display:flex;
}

section>div>h1
{
    text-align: center;
    font-size:40px;
}

.nav
{
    border-radius: 10px;
    background-color: #52514e;
    width:33%;
    text-align: center;
    color:white;
    font-size:30px;
}

#myqna-nav
{
    background-color: #4e85dd;
}

.qna-list-head
{
    display:flex;
    margin: 2% 0% 0% 0%;
    background-color: #c8edc5;
    text-align: center;
    font-size:20px;
    
}

.qna-list-head *, .qna-list-body *{
    border:#c8c8c8 solid 1px;
}
.qna-no{
    width:10%;
}
.qna-sort{
    width:15%;
}
.qna-title{
    width:50%;
}
.qna-date{
    width:10%;
}
.qna-status{
    width:15%;
}

.qna-list-body
{
    text-align: center;
    font-size:20px;
}
.qna-obj{
    display:flex;
}

.pageBar{
    text-align:center;
    margin-top:5%;
}