header,

footer
{
    border:1px solid black;
}
section
{
    margin: 1% 10%;
}

.temp_header2,
.temp_header1,
ul
{
    display:flex;
}

.temp_header2 li
{
    list-style: none;

}

li
{
    border:1px solid black;
    margin:0px 10px 0px 10px;
}

footer
{
    height:100px;
}


.nav-container
{
    display:flex;
}

section>div>h1
{
    text-align: center;
    font-size:40px;
}

.nav
{
    border-radius: 10px;
    background-color: #52514e;
    width:33%;
    text-align: center;
    color:white;
    font-size:30px;
}

#notice-nav
{
    background-color: #4e85dd;
}

.notice-title{
    display:flex;
    border-bottom:#c8c8c8 solid 1px;
    
}
.notice-title>h1{
    width:70%;
    font-size:30px;
    margin:0%;
    margin-top:3%;
}
.notice-title>h3{
    width:15%;
    font-size:15px;
    text-align: end;
    margin:0%;
    margin-top:5%;
    margin-bottom:0.3%;
}
.notice-content{
    border-bottom:#c8c8c8 solid 1px;
}
.list-btn{
    margin:2%;
    margin-left:88%;
    width:10%;
    background-color: #4e85dd;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    text-align: center;
    padding:1% 0% 1% 0%;
    cursor:pointer;
    
}




