header,

footer
{
    border:1px solid black;
}
section
{
    margin: 1% 10%;
}

.temp_header2,
.temp_header1,
ul
{
    display:flex;
}

.temp_header2 li
{
    list-style: none;

}

li
{
    border:1px solid black;
    margin:0px 10px 0px 10px;
}

footer
{
    height:100px;
}


.nav-container
{
    display:flex;
}

section>div>h1
{
    text-align: center;
    font-size:40px;
}

.nav
{
    border-radius: 10px;
    background-color: #52514e;
    width:33%;
    text-align: center;
    color:white;
    font-size:30px;
}

#notice-nav
{
    background-color: #4e85dd;
}





