<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employee">
	<resultMap type="emp" id="employeeRS">
		<id property="empId" column="EMP_ID"></id>
		<result property="empName" column="EMP_NAME"></result>
		<result property="empNo" column="EMP_NO"></result>
		<result property="email" column="EMAIL"></result>
		<result property="phone" column="PHONE"></result>
		<result property="deptCode" column="DEPT_CODE"></result>
		<result property="jobCode" column="JOB_CODE"></result>
		<result property="salLevel" column="SAL_LEVEL"></result>
		<result property="salary" column="SALARY"></result>
		<result property="bonus" column="BONUS"></result>
		<result property="managerId" column="MANAGER_ID"></result>
		<result property="hireDate" column="HIRE_DATE"></result>
		<result property="entDate" column="ENT_DATE"></result>
		<result property="entYn" column="ENT_YN"></result>
		<result property="gender" column="GENDER"></result>
	</resultMap>
	<select id="selectEmpAll" resultMap="employeeRS" >
		SELECT * FROM EMPLOYEE
	</select>
	<!-- #은 setString / setInt개념 $는 값에 상관없이 Literal 표기함 (''안찍고 그냥 써줌 기존 sql불러와서 replace 해주는 개념) -->
	<!-- 제대로 구분 안하면 에러날수 있으니까 주의 -->
	<select id="selectEmp" resultMap="employeeRS" >
		SELECT * 
		FROM (SELECT E.*, DECODE(SUBSTR(EMP_NO, 8, 1),'1','M','3','M','2','F','4','F') AS GENDER FROM EMPLOYEE E)
		<!-- 조건에는 키값 그냥 주면 알아서 처리해줌 -->
		<!-- trim /where 태그 쓰면 and / or 지우기 쌉가능 -->
		<where>
		<!-- <trim prefix="WHERE" prefixOverrides="AND|OR"> -->
			<if test="type!=null and type!=''">
				${type} LIKE '%'||#{key}||'%'
			</if>
			<if test="gender!=null">
				AND GENDER = #{gender}
			</if>
			<!-- escape문 사용 <!CDATA["escape 할 문구"]]> -->
			<!-- &lt; &gt; 써도 됨-->
			<if test="salary!=null and salary!='' and lege!=null and lege!=''">
				AND SALARY ${lege} ${salary}
			</if>
			
		<!-- </trim> -->
		</where>
	</select>
  	<!-- 너무 한개 쿼리에서 조건 여러개 걸고 selec까지 손대거나 뭐 그러면 헷갈리니까 적당히 나눠줄 필요도 있음 -->
  	
</mapper>
